
<div ng-controller="peopleDetailsController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{person.fname}} {{person.lname}}</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>Tel</td>
                    <td>{{person.tel}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{person.address}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{person.city}}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{person.state}}</td>
                </tr>
                <tr>
                    <td>Zip</td>
                    <td>{{person.zip}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
