<div ng-show="loading">Loading data...</div>

<div ng-hide="loading">
    <div>
        <p>Search</p>
        <input type="text" ng-model="filter" />
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                </>
        </thead>
        <tbody>
            <tr ng-repeat="person in people | filter:{ fname: filter }">
                <td>{{person.fname}}</td>
                <td>{{person.lname}}</td>
                <td><a href="/#/view/{{$index}}">Details</a></td>
            </tr>
        </tbody>
    </table>

</div>
